
QListWidget,
QListWidget::item:selected {
    background-color: rgb(70, 70, 70);
}

QPlainTextEdit#description {
    background-color: rgb(65, 65, 65);
    color: rgb(220, 220, 220);
}

QToolButton {
    background-color: rgb(50, 50, 50);
    border-radius: 4px;
    font-size: 12px;
    color: rgb(220, 220, 220);
}
