/* Override PySide styles here */


/* Search Bar */
QLineEdit#kit_search {
    color: rgb(220, 220, 220);
    border: 1px solid rgba(180, 100, 180, 0.5);
    border-radius: 6px;
    background: rgb(100, 50, 100);
}
QLineEdit#kit_search[placeholder=true] {
    color: rgba(220, 220, 220, 0.5);
}

/* Update Button */
QPushButton[update=true] {
    background: rgb(100, 50, 100);
    color: white;
}
QPushButton:hover[update=true] {
    background: rgb(180, 100, 180);
}
QPushButton:pressed[update=true] {
    color: rgb(100, 50, 100);
}

/* MKC About */
QLabel#mkc-about {
    color: rgb(220, 220, 220);
    border: 1px solid rgb(100, 50, 100);
    border-radius: 6px;
    background: rgba(100, 50, 100, 0.5);
}