/* Override PySide styles here */

/* Override the "social" widget */
QListWidget#social {
    background-color: #3e3e3e;
    border: None;
    border-radius: 1px;
    padding: 1px;
    show-decoration-selected: 0;
}

/* Handle selected item in QListWidget */
QListWidget#social::item:selected {
    background: #a84c4c;
    border: None;
}

/* Handle all items in QListWidget */
QListWidget#social::item {
    border: None;
}