/* Override PySide styles here */

/* Override the "social" widget */
QListWidget#social {
    background-color: rgb(62, 62, 62);
    border: None;
    border-radius: 1px;
    padding: 1px;
    show-decoration-selected: 0;
}

/* Handle selected item in QListWidget */
QListWidget#social::item:selected {
    background: rgb(168, 76, 76);
    border: None;
}

/* Handle all items in QListWidget */
QListWidget#social::item {
    border: None;
}
